node_modules/
target/
frontend/dist/
website/dist/
dist/
src-tauri/tauri.release.conf.json
setup-tauri/tauri.release.conf.json
**/__pycache__/
*.pyc
.DS_Store
frontend/.angular/
workflow-errors-*.log

.wrangler/
